<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Classified Page</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap" rel="stylesheet">
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    


<body class="text-light bg-dark container-fluid m-0 text-center" style="height: 100vh; overflow: hidden;">
    <main style="display: flex; justify-content: center; align-items: center; height: 100vh;">
        <img id="background-img" src="{% static 'images/background.jpg'%}" alt="Starry background" style="opacity: 1; position: absolute; left: 0; top: 0; width: 100vw; background-repeat: repeat-y;">
        <div id="form-total" style="display: flex; flex-direction: column; position: absolute; align-items: center; z-index: 2; justify-content: center; opacity: 1; box-shadow: rgba(255, 255, 255, 0.3) 0px 1px 2px, rgba(255, 255, 255, 0.3) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 4px 8px, rgba(255, 255, 255, 0.3) 0px 8px 16px, rgba(255, 255, 255, 0.3) 0px 16px 32px, rgba(255, 255, 255, 0.3) 0px 32px 64px; background-color: #ffffff; min-width: 300px; max-height: 500px; min-height: 300px; border-radius: 10px; padding: 30px">
            <h1 style="opacity: 1; font-family: 'Space Grotesk', sans-serif; font-size: 30px; color:rgb(55, 55, 55)">
                <small class="text-secondary">Your Image Was</small>
            </h1>
            {% if prediction == 0 %}
            <h1 style="opacity: 1; font-family: 'Space Grotesk', sans-serif; font-size: 40px; color: rgba(0, 0, 0, 1); white-space: nowrap; margin-top: 1px; margin-bottom: 40px;"">Elliptical</h1>
            {% elif prediction == 1 %}
                <h1 style="opacity: 1; font-family: 'Space Grotesk', sans-serif; font-size: 40px; color: rgba(0, 0, 0, 1); white-space: nowrap; margin-top: 1px; margin-bottom: 40px;"">Barred Spiral</h1>
            {% elif prediction == 2 %}
                <h1 style="opacity: 1; font-family: 'Space Grotesk', sans-serif; font-size: 40px; color: rgba(0, 0, 0, 1); white-space: nowrap; margin-top: 1px; margin-bottom: 40px;"">Spiral</h1>
            {% else %}
                <h1 style="opacity: 1; font-family: 'Space Grotesk', sans-serif; font-size: 40px; color: rgba(0, 0, 0, 1); white-space: nowrap; margin-top: 1px; margin-bottom: 40px;"">Unknown</h1>
            {% endif %}
            <img width=175 height=175 src="data:image/png;base64,{{image_b64}}">
            <form action = "/home">
                <button type = "submit" class="btn btn-dark" style="padding: 10px; margin-top: 40px; font-size: 20px; width: 100px; height: 50px; background-color: black; color: white;">Back</button>
            </form>
    </main>
    <script type="module" src="{% static 'classified_script.js' %}"></script> 
</body>
</html>