<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload File</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<head>
</head>
    {% load static %}
    <img src="{% static 'images/background.jpg'%}" alt="Starry background" style="opacity: 0.5; z-index: -11; position: absolute; left: 0; top: 0; width: 100vw;">
    <body class="text-light bg-dark container-fluid m-0 text-center" style="height: 100vh; overflow: hidden;">
        <div class="container-fluid w-50 h-100 pt-5" style="  background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,.9)20%, rgba(0,0,0,.9) 80%, rgba(0,0,0,0) 100%);">
            <h1 style="opacity: 1;">
                Galaxy Classifier
                <small class="text-secondary">StudentHack2024</small>
              </h1>
            <form method = "POST" enctype = "multipart/form-data" class  = "input_form">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-content mb-3">
                        <label for="image_input">{{form.image.label}}</h4>
                        {{ form.image }}
    
                    </div>
                    <button type="submit" class="btn btn-light rounded-circle">Classify</button>
                </div>
            </form>
        </div>
    </body>
</html>
